<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" /> 
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

{% block content %}
<h1>{% block title %} Créer un nouveau stock {% endblock %}</h1>

<script> 
    $(document).ready(function() {
    $('.form-control').select2();
    });
</script>

<form method="post">
    

    <div style="width: 90%; display: table; padding-top:0px;">
        <div style="display: table-row">
            <div style="display: table-cell; text-align:center; ">
                <div class = "div-for-select">
                    <label for="biere">Bière : 
                        <select name="biere" id="sel_biere" class = "selectpicker form-control" searchable = "Search..." style="width:auto;">
                            {% for biere in bieres %}
                            <option value="{{biere[0]}}" SELECTED>{{biere[0]}}</option>
                            {% endfor %}
                        </select>
                    </label> 
                    <input type = "text" id = "new_beer" placeholder="Entrer une nouvelle bière" style="width:auto;"></input>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="Add_new_beer()">Ajouter une bière</button>
                </div>
            </div>

            <div style="display: table-cell; text-align:center; ">
                <div class = "div-for-select">
                    <label for="distri">Distributeur : 
                        <select name="distri" id="sel_biere" class = "selectpicker form-control" searchable = "Search..." style="width:auto;">
                            {% for distri in distributeurs %}
                                <option value="{{distri[0]}}" SELECTED>{{distri[0]}}</option>
                            {% endfor %}
                        </select>
                    </label> 
                    <input type = "text" id = "new_distrib" placeholder="Entrer un nouveau distributeur" style="width:auto;"></input>
                    <button type="button" class="btn btn-secondary btn-sm" onclick="Add_new_distrib()">Ajouter un distributeur</button>
                </div>
            </div>

            <div style="display: table-cell; text-align:center; ">
                <div class = "div-for-select">
                    <label for="brass">Brasserie : 
                        <select name="brass" id="sel_brass" class = "selectpicker form-control" searchable = "Search..." style="width:auto;">
                            {% for brass in brasseries %}
                                <option value="{{brass[0]}}" SELECTED>{{brass[0]}}</option>
                            {% endfor %}
                        </select>
                    </label> 
                    <input type = "text" id = "new_brass" placeholder="Entrer une nouvelle brasserie" style="width:auto;"></input>
                <button type="button" class="btn btn-secondary btn-sm" onclick="Add_new_brass()">Ajouter une brasserie</button>
                </div>
            </div>
        </div>

        <div style="display: table-row;">
            <div style="display: table-cell; padding:0% 10%; text-align:center; width:auto;">
                <label for="content">Quantité : 
                <input type="int" name="quantite"
                       placeholder="Entrer la quantité" class="form-control"
                       value="{{ request.form['quantite'] }}"></input>
                </label>
            </div>
        
            <div style="display: table-cell; padding:0% 10%; text-align:center; width:auto;">
                <label for="content">Prix d'achat : 
                <input type="float" name="prix_achat"
                       placeholder="Entrer le prix d'achat" class="form-control"
                       value="{{ request.form['prix_achat'] }}"></input>
                </label>
            </div>
        
            <div style="display: table-cell; padding:0% 10%; text-align:center; width:auto;">
                <label for="content">Prix de vente : 
                <input type="float" name="prix_vente"
                       placeholder="Entrer le prix de vente" class="form-control"
                       value="{{ request.form['prix_vente'] }}"></input>
                </label>
            </div>
        </div>
    </div>
    
    <div style="text-align:center;padding-top:0px;">
        <button type="submit" class="btn btn-secondary btn-lg" onClick="return confirm('Confirmez-vous cet approvisionnement ?')">Ajouter les données</button>
    </div>
</form>

<script type="text/javascript">
    function Add_new_beer() {
        var x = document.getElementById("sel_biere");
        var len = x.length;
        var option = document.createElement("option");
        option.text = document.getElementById("new_beer").value;
        x.add(option);
        x.options.selectedIndex = len; //index begins at 0
    }
    function Add_new_distrib() {
        var x = document.getElementById("sel_distrib");
        var len = x.length;
        var option = document.createElement("option");
        option.text = document.getElementById("new_distrib").value;
        x.add(option);
        x.options.selectedIndex = len; //index begins at 0
    }
    function Add_new_brass() {
        var x = document.getElementById("sel_brass");
        var len = x.length;
        var option = document.createElement("option");
        option.text = document.getElementById("new_brass").value;
        x.add(option);
        x.options.selectedIndex = len; //index begins at 0
    }
</script>
{% endblock %}
</html>