<!DOCTYPE html>
<html lang="fr">

{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Facturation {% endblock %}</h1>
<h2>Notes enregistrées</h2>
<h3>{{nom_note}}</h3>

<div id = "facture">
    <form method="POST">
        
        <div class = "table-wrapper" style="width:auto;">
            <table id="table" class = "table table-fixed-header">
                <thead>
                    <tr>
                        <th>Bière</th>
                        <th>Vendeur</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in detail_note %}
                        <tr>
                            <td>{{n[0]}}</td>
                            <td>{{n[1]}}</td>
                            <td>{{n[2]}}</td>
                            <td class = "prixUnit">{{n[3]}}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <!-- <td><input type="text"></td> -->
                        <td><select name="biere" onChange = "searchPrice(this.value, this.closest('tr').rowIndex)" class = "selectpicker form-control" searchable = "Search..." style="width:auto;">
                            {% for b in liste_bieres %}
                                <option value="{{ b }}">{{b}}</option>
                            {% endfor %}
                        </select></td>
                        <!-- <td><input type="text" id = "vendeurs"></td> -->
                        <td><select name="vendeur" class = "selectpicker form-control" searchable = "Search..."  style="width:auto;">
                            {% for v in liste_vendeurs %}
                                <option value="{{ v }}">{{v}}</option>
                            {% endfor %}
                        </select></td>
                        <td><input type="int"></td>
                        <td><input type="float" class = "prixUnit" value = "{{prix_init}}"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td><span id = "vendeur">{{nom_vendeur}}</span></td>
                        <td><span id = "total_quantite">{{qte_totale}}</span></td>
                        <td><span id = "total_prix">{{prix_total}}</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </form>
    <div style="width: 100%; display: table;">
        <div style="display: table-row">
            <div style="display: table-cell; padding:0% 0% 0% 0%">
                <button class="btn btn-secondary btn-lg" id="add_rows">Ajouter</button>
            </div>
            <div style="display: table-cell; padding:0% 0% 10% 0%">
                <button class="btn btn-secondary btn-lg" id="save">Enregistrer</button>
            </div>
            <div style="display: table-cell; padding:0% 0% 0% 10%">
                <button class="btn btn-secondary btn-lg" id="submit_rows" onClick="return confirm('Imprimer la facture ?')">Créer la facture et mettre à jour le stock</button>
            </div>
            <div style="display: table-cell; padding:0% 0% 0% 0%">
                <button class="btn btn-secondary btn-lg" id="empty_rows">Nouvelle facture</button>
            </div>
        </div>
    </div>
</div>


<script language="javascript">

    var i = 1;
    $('.prixUnit').each(function () {
        $(this).attr('id', "prix_unit_"+i);
        i++;
    });

    function searchPrice(biere, row_index) {
        // var prix = document.getElementById("prix_unit");
        // var table = document.getElementById("facture");
        // var rows = table.getElementsByTagName("tr");
        // var cells = rows[row_index].getElementsByTagName("td");
        // var input = cells[3].getElementsByTagName("input")[0];
        // input.id = "prix_update_"+row_index;
        $.ajax({
            type : "POST",
            // url : window.location.href, 
            data : {selected:biere}, 
            success : function(result){
                $("#prix_unit_"+row_index).val(result.prix_unit);}
        });
    };

    $("#add_rows").click(function() {
        var rowCount = $("#facture tr").length - 1; // idx de la ligne, -1 pour le header
        // each click on the `+` button adds a row to the table
        $("#facture tbody").append('<tr>\
            <td><select name="biere" onChange = "searchPrice(this.value,'+rowCount+')"  class = "selectpicker form-control searchable = "Search..." style="width:auto"">\
                    {% for b in liste_bieres %}\
                        <option value="{{ b }}">{{b}}</option>\
                    {% endfor %}\
                </select></td>\
            <td><select name="vendeur" class = "selectpicker form-control searchable = "Search..." style="width:auto"">\
                    {% for v in liste_vendeurs %}\
                        <option value="{{ v }}">{{v}}</option>\
                    {% endfor %}\
                </select></td>\
            <td><input type="int"></td>\
            <td><input type="float" id = "prix_unit_'+ rowCount+'"></td></tr>');
        $('.form-control').select2();
    });
    $("#submit_rows").click(function() {
        // `obj` for storing the inputs, and the `n` to make unrepeated keys
        var obj = {}, n = 0;
        // loop over the rows
        $("#facture tbody tr").each(function(ind, tr) {
            console.log("n : " + n);
            // add an array to the object
            obj[`r${n}`] = [];
            // loop over the inputs of this row
            $(this).find("input").each(function(ind, input) {
                // add the value of the input to the array and make sure to remove any semicolon since
                // we will use it to separate the inputs
                var val = input.value.replace(/;/g, "");
                console.log("val input : " + val);
                obj[`r${n}`].push(val);
                });
            $(this).find("select").each(function(ind, select) {
                // add the value of the input to the array and make sure to remove any semicolon since
                // we will use it to separate the inputs
                var val = select.value.replace(/;/g, "");
                console.log("val select : " + val);
                obj[`r${n}`].push(val);
                });
            // no need for the array, just join it to a string of values separated by semicolons
            obj[`r${n}`] = obj[`r${n}`].join(";");
            // increase the value of `n`
            n++;
        });
        console.log("n"+n);
        obj[`r${n}`] = [];
        let name_n = "";
        console.log(name_n)
        obj[`r${n}`].push(name_n);
        obj[`r${n}`] = obj[`r${n}`].join(";");
        obj[`r${n+1}`] = [];
        obj[`r${n+1}`].push("submit");
        obj[`r${n+1}`] = obj[`r${n+1}`].join(";");
        // log the object to the console so you can see what we are sending
        console.log("obj : " + obj);
        // send the data to the server, and get totals
        $.ajax({
            type : "POST",
            url : window.location.href, 
            data : obj, 
            success : function(result){
                $("#vendeur").html(result.nom_vendeur);
                $("#total_quantite").html(result.qte_total);
                $("#total_prix").html(result.prix_total);}
        }); 
    });
    $("#save").click(function() {
        // `obj` for storing the inputs, and the `n` to make unrepeated keys
        var obj = {}, n = 0;
        // loop over the rows
        $("#facture tbody tr").each(function(ind, tr) {
            console.log("n : " + n);
            // add an array to the object
            obj[`r${n}`] = [];
            // loop over the inputs of this row
            $(this).find("input").each(function(ind, input) {
                // add the value of the input to the array and make sure to remove any semicolon since
                // we will use it to separate the inputs
                var val = input.value.replace(/;/g, "");
                console.log("val input : " + val);
                obj[`r${n}`].push(val);
                });
            $(this).find("select").each(function(ind, select) {
                // add the value of the input to the array and make sure to remove any semicolon since
                // we will use it to separate the inputs
                var val = select.value.replace(/;/g, "");
                console.log("val select : " + val);
                obj[`r${n}`].push(val);
                });
            // no need for the array, just join it to a string of values separated by semicolons
            obj[`r${n}`] = obj[`r${n}`].join(";");
            // increase the value of `n`
            n++;
        });
        console.log("n"+n);
        obj[`r${n}`] = [];
        let name_n = prompt("Nom de la note ?", "Note");
        console.log(name_n)
        obj[`r${n}`].push(name_n);
        obj[`r${n}`] = obj[`r${n}`].join(";");
        obj[`r${n+1}`] = [];
        obj[`r${n+1}`].push("save");
        obj[`r${n+1}`] = obj[`r${n+1}`].join(";");
        // log the object to the console so you can see what we are sending
        console.log("obj : " + obj);
        // send the data to the server, see the console for a logging message for success
        $.post(window.location.href, obj, (data, status) => console.log("Status: " + status));
        // $.ajax({
        //     type : "POST",
        //     url : window.location.href, 
        //     data : obj, 
        //     success : function(result){
        //         $("#vendeur").html(result.nom_vendeur);
        //         $("#total_quantite").html(result.qte_total);
        //         $("#total_prix").html(result.prix_total);}
        // }); 
    });
    $("#empty_rows").click(function() {
        $('#table tbody').empty();
        $("#table tbody").append('<tr>\
            <td><select name="biere" onChange = "searchPrice(this.value, 1)" class = "selectpicker form-control searchable = "Search..." style="width:auto"">\
                    {% for b in liste_bieres %}\
                        <option value="{{ b }}">{{b}}</option>\
                    {% endfor %}\
                </select></td>\
            <td><select name="vendeur" class = "selectpicker form-control searchable = "Search..." style="width:auto"">\
                    {% for v in liste_vendeurs %}\
                        <option value="{{ v }}">{{v}}</option>\
                    {% endfor %}\
                </select></td>\
            <td><input type="int"></td>\
            <td><input type="float" id = "prix_unit_1"></td></tr>');
        // console.log(window.location.href);
        current_url = window.location.href;
        url_for_redirection = current_url.replace("notes/detail/NoteS","notes");
        window.location.replace(url_for_redirection);
        $('.form-control').select2();
        $("#vendeur").html('');
        $("#total_quantite").html('');
        $("#total_prix").html('');
        
    });
    
</script>


{% endblock %}


</html>