<!DOCTYPE html>
<html lang="fr">
    {% extends 'base.html' %}


    
    {% block content %}
    <h1>{% block title %} Consultation du stock {% endblock %}</h1>

    <div style="width:100%; display: table;">
        <div style='display: table-row;'>
            <div style="display: table-cell; padding:0% 0% 0% 10%">
                <label for="title">Rechercher une bière : </label>
                <input id='searchInput' onkeyup='searchItem()' type='text'>
            </div>
            <div style="display: table-cell; padding:0% 0% 0% 10%">
                <label for="title">Rechercher une brasserie : </label>
                <input id='searchInput2' onkeyup='searchItem2()' type='text'>
            </div>
        </div>
    </div>

    <div>
        <div id = "stockTable" class = "table-wrapper" style="width:auto; text-align:center">
            <table  class = "table table-fixed-header">
                {% for table in tables %}
                    <span>{{ table|safe }}</span>
                {% endfor %}
            </table>
        </div>
    </div>

<script>
    function searchItem() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        console.log(filter);
        table = document.getElementById("stockTable");
        tr = table.getElementsByTagName("tr");
        // loop on all rows of the table
        for (i = 1; i < tr.length; i++) {
            // search only on "BIERE" column
            td = tr[i].getElementsByTagName("td")[1];
            console.log(td.textContent);
            txtValue = td.textContent || td.innerText;
            isFound = false;
            // test if input found
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                console.log("found");
                tr[i].style.display = "";
                isFound = true;
            }
            // item not found, hide the row
            if(!isFound && tr[i].className !== "header") {
                console.log("not found");
                tr[i].style.display = "none";
            }
        }
    }
    function searchItem2() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput2");
        filter = input.value.toUpperCase();
        console.log(filter);
        table = document.getElementById("stockTable");
        tr = table.getElementsByTagName("tr");
        // loop on all rows of the table
        for (i = 1; i < tr.length; i++) {
            // search only on "BIERE" column
            td = tr[i].getElementsByTagName("td")[2];
            console.log(td.textContent);
            txtValue = td.textContent || td.innerText;
            isFound = false;
            // test if input found
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                console.log("found");
                tr[i].style.display = "";
                isFound = true;
            }
            // item not found, hide the row
            if(!isFound && tr[i].className !== "header") {
                console.log("not found");
                tr[i].style.display = "none";
            }
        }
    }
</script>
    
{% endblock %}
</html>
